{% extends "base.html.twig" %}

{% block content %}
    <h1>Schedule a meetup</h1>

    <form method="post" action="{{ url('schedule_meetup') }}">
        <div class="form-group{% if formErrors["name"] is defined %} has-error{% endif %}">
            <label class="control-label" for="name">Name:</label>
            <input class="form-control" id="name" name="name" type="text"
                   value="{{ formData["name"]|default("") }}"/>
            {% for error in formErrors["name"]|default({}) %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group{% if formErrors["description"] is defined %} has-error{% endif %}">
            <label class="control-label" for="description">Description:</label>
            <textarea class="form-control" id="description"
                      name="description">{{ formData["description"]|default("") }}</textarea>
            {% for error in formErrors["description"]|default({}) %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group {% if formErrors["scheduleForDate"] is defined %} has-error{% endif %}">
            <label class="control-label" for="scheduleForDate">Schedule for date: </label>
            <input class="form-control" name="scheduleForDate" id="scheduleForDate" type="date"
                   value="{{ formData["scheduleForDate"]|default("") }}">
        </div>
        <div class="form-group {% if formErrors["scheduleForTime"] is defined %} has-error{% endif %}">
            <label class="control-label" for="scheduleForTime">Time: </label>
            <input class="form-control" name="scheduleForTime" id="scheduleForTime" type="time"
                   value="{{ formData["scheduleForTime"]|default("") }}">
            {% for error in formErrors["scheduleFor"]|default({}) %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">Schedule this meetup</button>
    </form>
{% endblock %}
